[Unit]
Description=Celery Worker Service
After=network.target rabbitmq-server.service
Wants=network.target rabbitmq-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/admin/Pre-trained

# Set environment variables
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=/home/admin/Pre-trained/.env

ExecStart=/home/admin/Pre-trained/.venv/bin/python3.12 -m celery  -A src.gpu_server.celery_app.celery_app worker -n gpt_worker --pool=solo -Q gpt --loglevel=debug

Restart=always
RestartSec=5
KillMode=mixed

StandardOutput=append:/home/admin/Pre-trained/logs/gpt_worker.log
StandardError=append:/home/admin/Pre-trained/logs/gpt_worker.log

[Install]
WantedBy=multi-user.target
