[Unit]
Description=FastAPI Celery Application
After=network.target rabbitmq-server.service
Wants=network.target rabbitmq-server.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/admin/Pre-trained

# Set environment variables
Environment="PYTHONUNBUFFERED=1"

EnvironmentFile=/home/admin/Pre-trained/.env

ExecStart= /home/admin/Pre-trained/.venv/bin/python3.12 -m celery  -A src.gpu_server.celery_app.celery_app worker -n ocr_worker --pool=eventlet -c 1 -Q ocr  --loglevel=info

Restart=always
RestartSec=3
KillMode=mixed

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target